services:
  db:
    image: postgres:17.2
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U trippers -d trippers']
      interval: 3s
      retries: 5
      start_period: 30s
    environment:
      POSTGRES_USER: trippers
      POSTGRES_PASSWORD: trippers
      POSTGRES_DB: trippers
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./database/postgres/init:/docker-entrypoint-initdb.d
    networks:
      - app-network
      
volumes:
  db-data:

networks:
  app-network:
    driver: bridge