[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin


datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/lib/mysql/mysql.pid

# time zone
default-time-zone=SYSTEM
log-timestamps=SYSTEM

# error log
log-error=/var/log/mysql/mysql-error.log

# general log
general-log=ON
general-log-file=/var/log/mysql/mysql-query.log

# slow query log
slow-query-log=ON
slow-query-log-file=/var/log/mysql/mysql-slow.log
long-query-time=2.0
log-slow-admin-statements=ON
log-slow-extra=ON
log-queries-not-using-indexes=ON
min-examined-row-limit=1000
log-throttle-queries-not-using-indexes=0

[client]
loose-default-character-set=utf8mb4


