services:
  backend:
    build: 
      context: ../backend/microservices
      dockerfile: Dockerfile
    environment:
      - ENV=local
      - ENV_CONFIG_PATH="../backend/microservices/config/environment/"
      - TZ=Asia/Tokyo
      - DB_READ_HOST=db
      - DB_WRITE_HOST=db
      - DB_PORT=5432
      - DB_NAME=trippers
      - DB_USER=trippers
      - DB_PASSWORD=trippers
    ports:
      - "8000:8080"
    volumes:
      - backend:/opt/data
      - type: tmpfs
        target: /opt/tmp
        tmpfs:
          size: 10000000
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  db:
    image: postgres:17.2
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U trippers -d trippers']
      interval: 3s
      retries: 5
      start_period: 30s
    environment:
      POSTGRES_USER: trippers
      POSTGRES_PASSWORD: trippers
      POSTGRES_DB: trippers
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ../database/postgres/init:/docker-entrypoint-initdb.d
    networks:
      - app-network
      
volumes:
  backend:
  db-data:

networks:
  app-network:
    driver: bridge